@model FloridaUCTF.Models.Offender

<div class="panel">

	<div class="row">
		
		<table>

			<tr>
				<th> AKAs: </th>
				<td> @Model.AllAKAs </td>
			</tr>
			<tr>
				<th> Driver's License: </th>
				<td> @Model.DriveLicenseState @Model.DriveLicense </td>
			</tr>
		</table>
	</div>
</div>
