@model FloridaUCTF.Models.Offender

<div class="">

	<div class="row light-blue-background">
		
		<table class="">

			<tr>
				<th> AKAs: </th>
				<td> @Model.AllAKAs </td>
			</tr>
			<tr>
				<th> Driver's License: </th>
				<td> @Model.DriveLicenseState @Model.DriveLicense </td>
			</tr>
		</table>
	</div>
</div>
