body {
	padding-top: 50px;
	padding-bottom: 20px;
		font-size: 16px;
	   height:2000px;   /*added to try and fix top of offender details page*/
    overflow:scroll;    /*added to try and fix top of offender details page*/

}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
	white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}


/***  Start custom css ***/
.btn-link-danger {
	color : red;
}
.contact-info-box div{
	padding-left: 50px;
}
.dl-caseinfo dt{
	width : 75px;
}
.dl-caseinfo dd{
	margin-left : 85px;
}

.light-blue-background {
	background-color : #D7E9FF;

}
.case-fix-top{
	padding:1em;
} 
.affix {
	padding:1em;
	width : 92%;
	top : 50px;
	position : fixed;
	z-index : 10000;
}
/*.case-scroll-part {
	top: 192px;
}*/

.group-heading {
	background-color: #e6e6fe;
	font-family: Lucida Sans Unicode;
	font-weight: bold;
	letter-spacing: 1px;
}

.citation_block > div:nth-child(odd) {
    background: #f9f9f9;
}
.case-panel {
	border : 2px solid lightgray; 
	border-radius : 20px;
	margin : 15px;
	padding : 5px;
}
.cit_num_box {
	border-right: 2px lightblue dotted;
}
.checkbox-col {
	padding-right : 0;
}
.checkbox-label {
	margin-bottom : 0;
	margin-top : 5px;
}
.emphasize {
	color :red;
}
.field-label {
	float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-weight: bold;
}
.long-text {
	width: auto;
	max-height: 75px;
	max-width: 750px;
	overflow : auto;
	text-overflow : ellipsis;
	/*overflow: auto;*/
}
