body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}


/***  Start custom css ***/
.btn-link-danger {
	color : red;
}
.group-heading {
	background-color: #e6e6fe;
	font-family: Lucida Sans Unicode;
	font-weight: bold;
	letter-spacing: 1px;
}

.citation_block > div:nth-child(odd) {
    background: #f9f9f9;
}
.cit_num_box {
	border-right: 2px lightblue dotted;
}
.field-label {
	float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-weight: bold;
}
.long-text {
	width: auto;
	max-height: 50px;
	overflow : auto;
	text-overflow : ellipsis;
	/*overflow: auto;*/
}
